<div class="service" itemscope itemtype="http://schema.org/Service">
  <h1 class="main-title" itemprop="name">Восстановление данных с жесткого диска <small class="main-title__small">в Москве и Московской области</small></h1>
  <div class="service__description" itemprop="description">
    <p>Наша лаборатория выполняет профессиональный ремонт HDD и восстановление жестких дисков всех типов SATA, SAS, SCSI, IDE (ATA), ведущих производителей жестких дисков в Москве.</p>
    <p>Качественно, оперативно и по доступной цене выполним восстановление жесткого диска и вернём вашу потерянную информацию с неисправного винчестера любой модели в городе Москва.</p>
  </div>
  <div class="service__price price">
    <div class="price__cost cost">
      <h2 class="cost__title">Стоимость</h2>
      <p class="cost__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quo, iure, placeat, hic qui perferendis repudiandae eum aperiam ratione in atque magnam officia obcaecati labore provident exercitationem error odit esse vitae excepturi commodi mollitia harum cum at unde fugiat voluptatem doloremque perspiciatis possimus illo libero cupiditate ea veniam explicabo soluta id eligendi!</p>
    </div>
    <div class="price__payment payment">
      <h2 class="payment__title">Способы оплаты</h2>
      <ul class="payment-methods-list">
        <li class="payment-methods-list__item">Visa</li>
        <li class="payment-methods-list__item">MasterCard</li>
        <li class="payment-methods-list__item">Yandex Деньги</li>
      </ul>
    </div>
  </div>
</div>