<nav class="menu">
  <a href="/recovery/" class="menu__link"><span>Восстановление данных</span></a>
  <a href="/сonsultations/" class="menu__link"><span>Бесплатные консультации</span></a>
  <a href="/recovery/price/" class="menu__link"><span>Цены</span></a>
</nav>