<nav class="menu">
  <a href="" class="menu__link"><span>Восстановление данных</span></a>
  <a href="" class="menu__link"><span>Бесплатные консультации</span></a>
  <a href="" class="menu__link"><span>Цены</span></a>
</nav>