<nav class="submenu">
  <a href="" class="submenu__link"><span>Устройства</span></a>
  <a href="" class="submenu__link"><span>Файловые системы</span></a>
  <a href="" class="submenu__link"><span>Типы данных</span></a>
  <a href="" class="submenu__link"><span>Причины</span></a>
  <a href="" class="submenu__link"><span>Производители</span></a>
</nav>