<nav class="submenu">
  <a href="/recovery/devices/" class="submenu__link"><span>Устройства</span></a>
  <a href="/recovery/systems/" class="submenu__link"><span>Операционные системы</span></a>
  <a href="/recovery/data-types/" class="submenu__link"><span>Типы данных</span></a>
  <a href="/recovery/causes/" class="submenu__link"><span>Причины</span></a>
  <a href="/recovery/vendors/" class="submenu__link"><span>Производители</span></a>
</nav>