<div class="top-panel">
  <a href="#" class="top-panel-link">
    <%- partial('../svg-sprite-element', {icon: "place", cssSelector: "top-panel-link__icon"}) %> 
    <span class="top-panel-link__text">Барнаул</span>
  </a>
  <a href="#" class="top-panel-link">
    <%- partial('../svg-sprite-element', {icon: "mail", cssSelector: "top-panel-link__icon"}) %>
    <span class="top-panel-link__text">info@back-way.ru</span>
  </a>
  <a href="#" class="top-panel-link">
    <%- partial('../svg-sprite-element', {icon: "phone", cssSelector: "top-panel-link__icon"}) %>
    <span class="top-panel-link__text">8 (800) 623-45-67</span>
  </a>
  <a href="#" class="top-panel-link">
    <%- partial('../svg-sprite-element', {icon: "search", cssSelector: "top-panel-link__icon"}) %>
  </a>
</div>