<div class="call-to-action">
  <div class="container">
    <div class="call-to-action__block">
      <h2 class="call-to-action__block-title">Звоните бесплатно</h2>
      <div class="call-to-action__block-text">Для уточнения любых деталей звоните на бесплатный номер</div>
      <span class="call-to-action__phone">8 (800) 623-45-67</span>
    </div>
    <div class="call-to-action__block call-to-action__block_with-button">
      <h2 class="call-to-action__block-title">Задайте вопрос</h2>
      <div class="call-to-action__block-text">Хотите получить бесплатную консультацию?</div>
      <a  href="" class="call-to-action__button">
        <%- partial('svg-sprite-element', {icon: "comment", cssSelector: "call-to-action__icon"}) %>
      </a>
    </div>
    <div class="call-to-action__block call-to-action__block_with-button">
      <h2 class="call-to-action__block-title">Сделайте заказ</h2>
      <div class="call-to-action__block-text">Для заказа услуги заполните форму и мы поможем Вам в сжатые сроки.</div>
      <a  href="" class="call-to-action__button">
        <%- partial('svg-sprite-element', {icon: "edit", cssSelector: "call-to-action__icon"}) %>
      </a>
    </div>
  </div>
</div>