<footer class="footer">
    <div class="footer__top"> 

    </div>
    <div class="footer__bottom">
      <div class="copyright">Copyright © 2017 BackWay</div>
      <div class="legal-menu">
        <a href="/terms-of-use.html" class="legal-menu__item">Соглашение о пользовании сайтом</a>
        <a href="/privacy-policy.html" class="legal-menu__item">Политика конфиденциальности</a>
      </div>
      <a class="author" href="https://www.udelta.ru" target="_blank">
        <span class="author__text">Сайт разработан</span>
        <img src="/assets/images/logo-udelta.svg" alt="Udelta - digital marketing" class="author__logo" />
      </a>
    </div>
</footer>