<header class="header">
  <div class="top-panel">
    <a href="#" class="top-panel-link">
      <%- partial('svg-sprite-element', {icon: "place", cssSelector: "top-panel-link__icon"}) %> 
      <span class="top-panel-link__text">Барнаул</span>
    </a>
    <a href="#" class="top-panel-link">
      <%- partial('svg-sprite-element', {icon: "mail", cssSelector: "top-panel-link__icon"}) %>
      <span class="top-panel-link__text">info@back-way.ru</span>
    </a>
    <a href="#" class="top-panel-link">
      <%- partial('svg-sprite-element', {icon: "phone", cssSelector: "top-panel-link__icon"}) %>
      <span class="top-panel-link__text">8 (800) 623-45-67</span>
    </a>
    <a href="#" class="top-panel-link">
      <%- partial('svg-sprite-element', {icon: "search", cssSelector: "top-panel-link__icon"}) %>
    </a>
  </div>
  <div class="middle-panel">
    
      <div class="logo">
        <a class="logo__link">
          <img src="/assets/images/logo-backway.svg" class="logo__image" />  
        </a>
      </div>
      <nav class="menu">
        <a href="" class="menu__link"><span>Восстановление данных</span></a>
        <a href="" class="menu__link"><span>Бесплатные консультации</span></a>
        <a href="" class="menu__link"><span>Цены</span></a>
      </nav>

  </div>
  <div class="bottom-panel">
    <nav class="submenu">
      <a href="" class="submenu__link"><span>Устройства</span></a>
      <a href="" class="submenu__link"><span>Файловые системы</span></a>
      <a href="" class="submenu__link"><span>Типы данных</span></a>
      <a href="" class="submenu__link"><span>Причины</span></a>
      <a href="" class="submenu__link"><span>Производители</span></a>
    </nav>
    <a href="" class="call-to-action-link">Подать заявку</a>
  </div>

</header>