.top-panel {
    display: flex;
    justify-content: flex-end;
    font-family: $font-sans;
    margin: 5px 0 15px 0;
}
.top-panel-link {
    height: 36px;
    padding: 3px 16px;
    display: flex;
    color: #888;
    align-items: center;
    text-decoration: none;
    
    &:hover, &:focus {
        background-color: rgba(0,0,0,0.05);
        color: #333;
        .top-panel-link__icon {
            fill: #626262;
        }
    }
    &__icon {
        width: 30px;
        height: 20px;
        fill: #aaa;
    }
    &__text {
        font-size: .85em;
        line-height: 24px;
        font-weight: 300;
    }
}

.middle-panel {
    display: flex;
    justify-content: space-between;
}

.logo {
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    &__image {
        height: 80px;
        width: 176px;
    }
}

.menu {
    flex: 0 0 75%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.2em;
    flex-wrap: wrap;
    &__link {
        @extend .box-block;
        background-color: #f9f9f9;
        flex: 0 0 31%;
        padding: 0.5em;
        display: flex;
        align-items: center;
        font-weight: 700;
        justify-content: center;
        text-align:center;
        color: #323232;
        text-decoration: none;
        text-transform: uppercase;
        &:hover, &:focus {
            background-color: #fff;
            text-shadow: -1px 1px 2px rgba(0,0,0,0.05);
        }
    }
}

.bottom-panel {
    @extend .box-block;
    position: relative;
    margin-top: 25px;
    min-height: 40px;
    background-color: #f9f9f9;
    .call-to-action-link {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.call-to-action-link {
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $accent-color;
    color: #fff;
    text-shadow: $block-shadow;
    &:hover, &:focus {
        background-color: darken($accent-color, 5%);
    }
}

.submenu {
    display: flex;
    
    &__link {
        padding: 12px 20px;
        color: #626262;
        text-decoration: none;
        text-transform: uppercase;
        &:hover, &:focus {
            background-color: rgba(0,0,0,0.02);
        }
    }
}